<%= form_for @user, html: {class: 'formValidate', id: 'formValidate'} do |f| %>
  <%= render partial: 'shared/errors', locals: { target: @user } %>
  <div class="row">
    <div class="input-field col s6">
      <%= f.label(:first_name) %>
      <%= f.text_field(:first_name, id: 'first_name') %>
      <div class="errorTxt1"></div>
    </div>
    <div class="input-field col s6">
      <%= f.label(:last_name) %>
      <%= f.text_field(:last_name, id: 'last_name') %>
      <div class="errorTxt2"></div>
    </div>
    <div class="input-field col s12">
      <%= f.label(:username) %>
      <%= f.text_field(:username, id: 'username') %>
      <div class="errorTxt3"></div>
    </div>
    <div class="input-field col s12">
      <%= f.label(:email) %>
      <%= f.text_field(:email, class: 'error', id: 'email') %>
      <div class="errorTxt4"></div>
    </div>
    <div class="input-field col s6">
      <%= f.label(:password) %>
      <%= f.password_field(:password, id: 'password') %>
      <div class="errorTxt5"></div>
    </div>
    <div class="input-field col s6">
      <%= f.label(:password_comfirmation) %>
      <%= f.password_field(:password_comfirmation, id: 'password_confrimation') %>
      <div class="errorTxt6"></div>
    </div>
    <div class="input-field col s2">
      <%= f.label :country_code %>
      <%= f.text_field :country_code, id: "country-code" %>
      <div class="errorTxt7"></div>
    </div>
    <div class="input-field col s10">
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number, id: "phone_number" %>
      <div class="errorTxt8"></div>
    </div>
    <div class="input-field col s12">
      <%= f.label(:bio, "Biography") %>
      <%= f.text_area(:bio, class: 'materialize-textarea', id: 'bio') %>
      <div class="error"></div>
    </div>
    <%= f.submit 'Submit', class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

