<span class="title">
  <% if activity['actor'].class == User %>
    <%= link_to "#{activity['actor'].first_name} #{activity['actor'].last_name}", user_path(activity['actor']) %>
  <% else %>
    <%= link_to "#{activity['actor'].name}", venue_path(activity['actor']) %>
  <% end %>
</span>
<p><%= "#{activity['verb']}ed" %>
  <%= link_to activity['object'].name, send("#{activity['object'].class.to_s.downcase}_path", activity['object']) %><br/>
  <span class="timestamp"><%= localize(DateTime.parse(activity['time']), format: :long) %></span>
</p>
