<h2><%= @venue.name %></h2>
<% if current_user %>
  <%= render partial: "venues/follow/#{current_user.role}_follow" %>
<% end %>
<%= render partial: 'venues/venue_details', locals: {venue: @venue} %>
<%= render partial: 'venues/newsfeed' %>
<%= render partial: 'venues/venue_map' %>
