<%= link_to "Edit Profile", edit_user_path(@user) %>

<p>Account Status: <% if @user.verified? %>Verified<% else %>Not Verified<% end %>
<% if !@user.verified? %>
<p>
  <%= link_to "Verify your account now.", verify_path %>
</p>
<% end -%>
<%= @user.email %>
<%= @user.bio %>

<% if current_user.badges %>
  <h3>Your Badges</h3>
  <ul>
    <% current_user.badges.each do |badge| %>
    <li>
      <p><%= badge.name %></p>
      <%= image_tag("/images/#{badge.name.parameterize}.png") %>
    </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "users/profile/#{@user.role}", locals: {user: @user} %>
