<h1 class = "center-align">Manage Users</h1>



<table class = "centered responsive-table highlight">
   <thead>
     <tr>
         <th>Name</th>
         <th>Role</th>
         <th>Options</th>
     </tr>
   </thead>

   <tbody>
     <% @users.each do |user| %>
     <tr>
       <td><%= user.name %></td>
       <td><%= user.role %></td>
       <td>
         <%= link_to "Make Member", admin_user_path(user, role: "member"), method: "put", class: "waves-effect waves-light btn waves-input-wrapper"  unless user.member? %>
         <%= link_to "Make Admin", admin_user_path(user, role: "admin"), method: "put", class: "waves-effect waves-light btn waves-input-wrapper" unless user.admin? %>
         <%= link_to "Make Manager", "#", class: "waves-effect waves-light btn waves-input-wrapper" unless user.manager? %>
       </td>
     </tr>
     <% end %>


   </tbody>

 </table>
 <div class="center-align">
   <%= will_paginate @users %>
 </div>
