<img src="<%= wine.image %>">
<h5><%= link_to wine.name, wine_path(wine.code) %></h5>
<p>
  <strong>Varietal:</strong>
  <%= wine.varietal %><br>
  <strong>Vintage:</strong>
  <%= wine.vintage %><br>
  <strong>Vineyard:</strong>
  <%= wine.vineyard %><br>
  <strong>Rating:</strong>
  <%= wine.rating %><br>
  <strong>Price:</strong>
  <%= wine.price %>
</p>
