<h3>Search for a wine:</h3>
<%= render partial: 'shared/search', locals: {referral: wines_path} %>

<% @wines.each do |wine| %>
  <div class="wine">
    <p><%= link_to wine.name, wine_path(wine) %></p>
    <p><%= wine.varietal %></p>
    <p><%= wine.vintage %></p>
    <p><%= wine.vineyard %></p>
    <p><%= wine.rating %></p>
    <p><%= wine.description %></p>
  </div>
<% end %>

<%= will_paginate @wines %>
