<li><%= link_to "Venues", venues_path %></li>
<li><%= link_to "Wines", wines_path %></li>
<li>
  <% if current_user %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login", login_path %>
    <%= link_to "Create Account", new_user_path %>
  <% end %>
</li>
